<button (click)="createDoc()" [disabled]="createButton" class="btn">Create Document</button>
<button (click)="editDoc()" [disabled]="editButton" class="btn">Edit Document</button>

<div class="tinymceCreateWrapper" *ngIf="createEditor">
  <editor [init]="init" [disabled]="disableCreateEditor" apiKey="bsbxt3k53uwo2ae35zc8suhbmkorjlppmcyhxjpo86b5dc6g"></editor>
</div>
<div class="tinymceEditWrapper" *ngIf="editEditor">
  <div class="sub-wrapper">
    <div class="editor">
      <editor [init]="init" (onInit)="onEditEditorInit()" (onChange)="onEditContentChange()" apiKey="bsbxt3k53uwo2ae35zc8suhbmkorjlppmcyhxjpo86b5dc6g"></editor>
    </div>
    <div class="editor-history">
      <h3>Document Edit History</h3>
      <div>Click on particular list element to access the doc inside editor</div>
      <div class="orig-content" (click)="accessOriginal()">Click on this to access the original content</div>
      <ul>
        <li *ngFor="let item of editedContentArray" (click)="setContentBasedOnHistory(item)">{{item.date}}</li>
      </ul>
    </div>
  </div>

</div>
<div class="historyDoc">

</div>

<button (click)="submit()" *ngIf="createEditor" [disabled]="disableSubmitButton" class="btn">Submit</button>